<%- include("header")-%>

<h1>This is the about section</h1>
<p>
  lots and lots of text lots and lots of text lots and lots of text lots and
  lots of text lots and lots of text lots and lots of text
</p>

<%- include("footer")-%>
